<div class="w-full 2xl:w-80 absolute right-0 top-0 min-h-screen  bg-orange-950">
  <div class="flex flex-row justify-between p-10 font-bold">
    <h3 class="text-white ">Mi Pedido</h3>
  <button (click)="emitirPedido()" class="text-white text-2xl"><i class="fa-solid fa-x"></i></button>
  </div>
  <div class="flex flex-col">
    @for(pedido of this.comidasCompradas; track pedido.comida.id){
      <div class="flex flex-row justify-between bg-slate-700 mt-5 mx-2 rounded-lg">
        <div class="flex flex-row gap-x-5">
          <img src="data:image/png;base64,{{pedido.comida.imagenBASE64}}" alt="Imagen de la comida" class="w-20 h-20 rounded-2xl object-cover">
          <div class="flex flex-col justify-around gap-x-12">
            <div class="flex flex-row justify-between text-white">
              <p class="">{{pedido.comida.nombre}}</p>
              <button (click)="handleCantidad('eliminar', pedido)"><i class="fa-solid fa-trash-can"></i></button>
            </div>
            
            <div class="flex flex-row justify-between text-white">
              <p>{{pedido.comida.precio}}€</p>
              <div class="ml-4 flex flex-row border shadow-md rounded-lg">
                <span (click)="handleCantidad('restar', pedido)" class="ml-2 cursor-pointer"><i class="fa-solid fa-minus"></i></span>
                <p class="px-5">{{pedido.cantidad}}</p>
                <span (click)="handleCantidad('sumar', pedido)" class="mr-2 cursor-pointer"><i class="fa-solid fa-plus"></i></span>
              </div>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
</div>