<div class="2xl:mx-64 px-5 h-auto gap-y-5 pb-5">
  <app-tiposcomida />
  <div class="flex justify-center xl:justify-normal font-bold text-2xl ml-2 mb-2">Nuestros Platos más gustados</div>
  <div class="grid grid-cols-1 sm:grid-cols-2 xl:grid-cols-3 md:gap-x-10" id="gridTransform">
    @for(comida of this.comidas ; track comida.id){
      <div class="flex flex-col justify-center items-center p-2">
        <a class="border shadow ">
          <img src="data:image/png;base64,{{comida.imagenBASE64}}" alt="Imagen de la comida" class="w-80 h-52 cursor-pointer">
          <div class="w-80 flex justify-between items-center px-2 py-2">
            <p>{{comida.nombre}}</p>
            <div class="flex gap-x-2">
              <p>{{comida.precio}}€</p>
              <button class="text-xl"><i class="fa-solid fa-cart-plus"></i></button>
            </div>
          </div>
        </a>
      </div>
    }
  </div>
</div>


