<div class="mx-64 px-5 h-auto gap-y-5 pb-5">
  <div class="flex justify-center">
    <div class="text-orange-200 cursor-pointer">
      <div class="text-6xl"><i class="fa-solid fa-burger hover:bg-teal-200 p-4  rounded-full"></i></div>
      <div>hamburguesas</div>
    </div>
  </div>
  <div class="font-bold text-2xl ml-2 mb-2">Nuestros Platos más gustados</div>
  <div class="grid grid-cols-4">
    @for(comida of this.comidas ; track comida.id){
      <div class="flex flex-col justify-center items-center p-2">
        <a class="border shadow ">
          <img src="data:image/png;base64,{{comida.imagenBASE64}}" alt="Imagen de la comida" class="w-80 h-52 cursor-pointer">
          <div class="w-80 flex justify-between items-center px-2 py-2">
            <p>{{comida.nombre}}</p>
            <div class="flex gap-x-2">
              <p>{{comida.precio}}€</p>
              <button class="text-xl"><i class="fa-solid fa-cart-plus"></i></button>
            </div>
          </div>
        </a>
      </div>
    }
  </div>
</div>


