<div class="px-5 w-full">
  <div class="flex justify-center">
    <div class="w-auto">
      <div class="border-2 rounded-lg px-16 pt-6 pb-8 mb-4">
        <h1 class="text-2xl text-center text-red-500 font-bold mb-5">
          Registro
        </h1>
        <form>
          <div class="mb-4 block text-gray-700 text-sm font-bold">
            <label class="flex py-2" for="nombre"> Nombre </label>
            <input
              [(ngModel)]="cliente.nombre"
              name="nombre"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="nombre"
              type="text"
              placeholder="Nombre"
            />
          </div>
          <div class="mb-4 block text-gray-700 text-sm font-bold">
            <label class="flex py-2" for="apellido"> Apellido </label>
            <input
              [(ngModel)]="cliente.apellido"
              name="apellido"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="apellido"
              type="text"
              placeholder="Apellido"
            />
          </div>
          <div class="mb-4 block text-gray-700 text-sm font-bold">
            <label class="flex py-2" for="email"> Email </label>
            <input
              [(ngModel)]="cliente.credenciales.email"
              name="email"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="email"
              type="email"
              placeholder="Email"
            />
          </div>
          <div class="mb-4 block text-gray-700 text-sm font-bold">
            <label class="flex py-2" for="password"> Contraseña </label>
            <input
              [(ngModel)]="cliente.credenciales.password"
              name="password"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="Contraseña"
              type="password"
              placeholder="Contraseña"
            />
          </div>
          <div class="mb-4 block text-gray-700 text-sm font-bold">
            <label class="flex py-2" for="telefono"> Teléfono </label>
            <input
              [(ngModel)]="cliente.telefono"
              name="telefono"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="telefono"
              type="text"
              placeholder="Teléfono"
            />
          </div>
          <div class="pt-4 flex justify-center">
            <button
            (click)="registrarUsuario()"
              class="rounded-xl bg-red-500 hover:bg-blue-700 text-white font-bold py-2 px-2 uppercase"
            >
            Enviar
            </button>
          </div>
        </form>
      </div>
      <div class="flex justify-center">
          <span>¿Tienes ya cuenta? <a class="font-bold hover:text-red-500" [routerLink]="['/Cliente/Login']">Logueate aquí!</a></span>
      </div>
    </div>
  </div>
</div>
