<dialog [open]="fecha" class=" z-50 mt-40 flex flex-col justify-center items-center">
  <div class="flex flex-col items-start cursor-pointer bg-slate-500">
    <div class="flex flex-row items-center hover:bg-green-800 w-max">
      <img class="w-5 h-5" src="../../../../../assets/apple.webp" alt="Apple"/>
      <p class="font-semibold ml-2">Apple</p>
    </div>
    <div class="flex flex-row items-center hover:bg-green-800 w-max">
      <img class="w-5 h-5" src="../../../../../assets/googleCalendar.svg" alt="Google Calendar"/>
      <p class="font-semibold ml-2">Google Calendar</p>
    </div>
    <div class="flex flex-row items-center w-max hover:bg-green-800 ">
      <img class="w-5 h-5" src="../../../../../assets/microsoft365.webp" alt="Microsoft 365"/>
      <p class="font-semibold ml-2">Microsoft 365</p>
    </div>
    <div class="flex flex-row items-center hover:bg-green-800 w-max">
      <img class="w-5 h-5" src="../../../../../assets/microsoftTeams.webp" alt="Microsoft Teams"/>
      <p class="font-semibold ml-2">Microsoft Teams</p>
    </div>
  </div>
</dialog>

