<div class="flex flex-col w-full border gap-y-5">
  <!-- Header bienvenido usuario -->
  <header class="w-full bg-blue-400">
    Bienvenido user...
  </header>

  <!-- vista administrador... -->
  <nav class="flex flex-row justify-around items-center">
    <div>Excel</div>
    <div>
      <div>Fechas ver usuarios conectados...</div>
      <div>filtrado</div>
    </div>
  </nav>
  <main class="w-full border">
    <div class="flex flex-col  ">
      <div class="flex flex-row gap-x-4 justify-around items-center p-2">
        <!-- Ingresos de los ultimos x días... filtrado arriba-->
        <div class="w-40 border">VISTA INGRESOS </div>
        <div class="w-40 border">VISTA USUARIOS CONECTADOS</div>
        <div class="w-40 border">PEDIDOS REALIZADOS</div>
      </div>
    </div>
  </main>
</div>