<div class="mx-96 my-16 mb-32">
  <button class="p-2 m-2 border border-orange-400 rounded-full text-orange-400 hover:text-white hover:bg-orange-400">
    <i class="px-4 text-2xl fa-solid fa-arrow-left"></i>
  </button>
  <div class="my-10 py-5 grid grid-cols-2">
      <div class="font-bold flex flex-col items-center">
        <img class="mb-10" src="data:image/png;base64,{{this.comida.imagenBASE64}}"/>
        <h3 class="text-amber-900 uppercase">{{this.comida.nombre}}</h3>
        <div class="text-sm my-2">{{this.comida.precio}}€</div>
        <button class="mb-5 p-2 w-full border bg-orange-400 rounded-md uppercase text-white">comprar</button>
      </div>
      <div class="">
        <div class="flex justify-center uppercase font-bold">¿Qué lleva?</div>
          <div class="flex flex-col items-center justify-center">
            <ul class="my-10 gap-y-3 flex flex-col justify-center items-center">
              @for(ingrediente of this.comida.ingredientes; track ingrediente) {
              <li class="text-gray-500">{{ingrediente}}</li>
              }
            </ul>
            <button class="p-2 border border-orange-400 rounded-full text-orange-400 hover:text-white hover:bg-orange-400 flex justify-center">VALOR NUTRICIONAL</button>
          </div>
      </div>
  </div>
</div>