@if (this.menu) {
  <div id="mobile" class="flex justify-center items-center  fixed inset-0 text-white">
    <div  (click)="onToggleMenu(!this.menu)" class="font-bold text-4xl" >
      <span class="cursor-pointer absolute right-20 top-20 ">
        <i class="fa-solid fa-x"></i>
      </span>
      <div class="flex flex-col gap-y-10  justify-center items-center">
        <a [routerLink]="['/Restaurante/Comidas']" class="cursor-pointer">Carta</a>
        <span class="cursor-pointer">Quiénes somos</span>
        <a [routerLink]="['/Cliente/Login']" class="cursor-pointer">Iniciar sesión</a>
        <span class="cursor-pointer">Gustados</span>
        <span class="cursor-pointer">Buscar</span>
        <span [routerLink]="['/Restaurante/Reservas']" class="px-5 block mt-4 xl:inline-block xl:mt-0">
          Reservar
        </span>
        <span (click)="this.menu = !this.menu; this.pedido = true" class="cursor-pointer">Pedido</span>
      </div>
    </div>
  </div>
} @else {
    <app-header [menu]="menu" (toggleMenu)="onToggleMenu($event)" [pedido]="pedido" (togglePedido)="onTogglePedido($event)"/>
    <div class="flex flex-col justify-center items-center">
      <router-outlet />

    </div>
    @if(this.pedido){
        <app-comidascompradas [pedido]="pedido" (togglePedido)="onTogglePedido($event)" />
    }
   
}



