<nav class="mb-10 flex items-center justify-between bg-teal-500 xl:p-6">
  <div class="p-5 flex items-center justify-center text-white pl-3 xl:pl-72 xl:mr-6">
    <a  class="font-semibold text-xl tracking-tight">TuRestauranteEnCasa</a>
  </div>
  <div class="hidden xl:flex w-full flex-grow items-center">
    <div class="flex-grow cursor-pointer text-white uppercase">
      <a [routerLink]="['/Restaurante/Comidas/']" class="font-sans block mt-4 xl:inline-block xl:mt-0 mr-4">
        Carta
      </a>
      <a class="px-5 block mt-4 xl:inline-block xl:mt-0">
        Quienes somos
      </a>
      <a routerLinkActive="active" [routerLink]="['/Restaurante/Reservas']" class="px-5 block mt-4 xl:inline-block xl:mt-0">
        Reservar
      </a>
      @if(this.linkRol) {
        @if(this.user.rol !== 'USUARIO') {
          <a routerLinkActive="active" [routerLink]="[this.linkRol]" class="px-5 block mt-4 xl:inline-block xl:mt-0">
            Zona {{ this.user.rol }} 
          </a>
        }
      }
    </div>
      <div class="mr-72 text-xl text-white">
        @if(!this.hacerBusqueda){
          <!-- opciones carrito usuario y búsqueda -->
          <span (click)="abrirPedido()" class="mx-5 cursor-pointer"><i class="fa-solid fa-cart-shopping"></i><span class="absolute text-xs rounded-full  px-1">{{this.cantidad}}</span></span>
          <!-- si está logueado accedemos a 'Cliente/Panel' -->
          <!-- Importante dpendendiendo del rol vamos a añadir un icono con una ruta pers. para ellos -->
          @if(this.user) {
            <a [routerLink]="['Cliente/PanelCliente']" class="mx-3"><i class="fa-solid fa-user"></i></a>
          }
          @else {
            <a [routerLink]="['Cliente/Login']" class="mx-3"><i class="fa-solid fa-user"></i></a>
          }
          <span (click)="toggleBusqueda()" class="cursor-pointer mx-3"><i class="fa-solid fa-magnifying-glass"></i></span>
          <!-- si está logueado para log out -->
          @if(this.linkRol){
            <a (click)="logout()" [routerLink]="['Cliente/Login']" class="ml-10 mx-3 text-red-500"><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
          }
        }
        @else{
          <input type="text" id="searchInput" class="appearance-none border rounded focus:outline-none focus:shadow-outline p-1 text-black text-sm" placeholder="Tu comida favorita...">
          <span (click)="toggleBusqueda()" class="cursor-pointer mx-3"><i class="fa-solid fa-magnifying-glass"></i></span>
          <span (click)="toggleBusqueda()" class="cursor-pointer"><i class="fa-solid fa-x"></i></span> 
          
        }
      </div>
    </div>
    
    <span (click)="abrirMenu()" class="flex xl:hidden mx-3 pr-5 cursor-pointer font-bold text-white"><i class="fa-solid fa-bars"></i></span>
</nav>