<div class="px-5 w-full">
  <div class="flex justify-center">
    <div class="w-auto">
      <div class="border-2 rounded-lg border-red-500 px-16 pt-6 pb-8 mb-4">
        <h1 class="text-2xl text-center text-blue-400 font-bold mb-5">
          Login
        </h1>
        <form>
          <div class="mb-4 block text-gray-700 text-sm font-bold">
            <label class="flex py-2" for="email"> Email </label>
            <input
              [(ngModel)]="credenciales.email"
              name="email"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="email"
              type="email"
              placeholder="Email"
            />
          </div>
          <div class="mb-4 block text-gray-700 text-sm font-bold">
            <label class="flex py-2" for="password"> Contraseña </label>
            <input
              [(ngModel)]="credenciales.password"
              name="password"
              class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
              id="Contraseña"
              type="password"
              placeholder="Contraseña"
            />
          </div>
          <div class="pt-4 flex justify-center">
            <button
            (click)="login()"
              class="rounded-xl bg-blue-400 hover:bg-blue-700 text-white font-bold py-2 px-2 uppercase"
            >
            Enviar
            </button>
          </div>
        </form>
      </div>
      <div class="flex flex-col justify-center items-center">
          <span>Tu primera vez en TuRestaurante? </span>
          <a class="font-bold hover:text-blue-400" [routerLink]="['/Cliente/Registro']">Registrate aquí!</a>
      </div>
    </div>
  </div>
</div>